213 DIALOGEX 0, 0, 153, 86, 0
STYLE DS_SETFONT | WS_POPUP
EXSTYLE WS_EX_TOOLWINDOW
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
FONT 9, "宋体"
{
  CONTROL "", 1004, "STATIC", NOT WS_GROUP | SS_BLACKRECT | SS_GRAYFRAME, 0, 0, 153, 86
  AUTORADIOBUTTON   "", 1005, 140, 1, 9, 9, BS_FLAT | 0x00000002
  AUTORADIOBUTTON   "确定", 1010, 25, 67, 50, 14, 0x00000002
  AUTORADIOBUTTON   "取消", 1002, 79, 67, 50, 14, 0x00000002
}
