214 DIALOGEX 0, 0, 181, 297, 0
STYLE DS_SETFONT | WS_POPUP
EXSTYLE WS_EX_TOOLWINDOW
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
FONT 8, "ËÎÌו"
{
  CONTROL "", 1000, "{8856F961-340A-11D0-A96B-00C04FD705A2}", WS_TABSTOP, 7, 7, 168, 289
}
