231 DIALOGEX 0, 0, 153, 86, 0
STYLE DS_SETFONT | WS_POPUP
EXSTYLE WS_EX_TOOLWINDOW
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
FONT 9, "宋体"
{
  CONTROL "", 1004, "STATIC", NOT WS_GROUP | SS_BLACKRECT | SS_GRAYFRAME, 0, 0, 27, 11
  AUTORADIOBUTTON   "", 1005, 140, 1, 9, 9, BS_FLAT | 0x00000002
  LTEXT   "快盘提示:", 1013, 36, 7, 74, 11
  CONTROL "", 1016, "{8856F961-340A-11D0-A96B-00C04FD705A2}", WS_TABSTOP, 4, 25, 145, 58
}
