258 DIALOGEX 0, 0, 285, 234, 0
STYLE DS_SETFONT | WS_POPUPWINDOW | WS_DLGFRAME | WS_MINIMIZEBOX
EXSTYLE WS_EX_APPWINDOW
CAPTION "快盘设置"
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
FONT 9, "宋体"
{
  AUTOCHECKBOX   "开机后自动启动快盘(推荐)(&R)", 1114, 17, 24, 124, 10
  AUTOCHECKBOX   "快盘内有更新则立即上传(&A)", 1115, 17, 66, 116, 10
  AUTOCHECKBOX   "服务器上有更新则立即下载(&D)", 1116, 147, 66, 124, 10
  AUTORADIOBUTTON   "不使用代理(&N)", 1117, 17, 107, 68, 10, WS_GROUP
  AUTORADIOBUTTON   "使用Internet Explorer的代理设置(&I)", 1118, 17, 123, 152, 10
  AUTORADIOBUTTON   "自定义代理方式(&C):", 1119, 17, 139, 88, 10
  LTEXT   "HTTP代理(&H):", -1, 32, 155, 49, 8
  CONTROL "", 1124, "SysIPAddress32", WS_TABSTOP, 82, 153, 96, 15
  LTEXT   "端口(&P):", -1, 187, 155, 33, 8
  EDITTEXT   "", 1121, 223, 153, 49, 14, ES_AUTOHSCROLL | ES_NUMBER
  LTEXT   "如果代理服务器需要验证,请填写:", -1, 32, 171, 121, 8
  LTEXT   "用户名(&U):", -1, 40, 186, 41, 8
  EDITTEXT   "", 1122, 82, 183, 96, 14, ES_AUTOHSCROLL
  LTEXT   "密码(&W):", -1, 187, 186, 33, 8
  EDITTEXT   "", 1123, 223, 183, 50, 14, ES_PASSWORD | ES_AUTOHSCROLL
  DEFPUSHBUTTON   "确定", 1, 176, 214, 50, 14, NOT WS_TABSTOP
  PUSHBUTTON   "取消", 2, 231, 214, 50, 14, NOT WS_TABSTOP
  GROUPBOX   "常规", -1, 5, 7, 275, 37
  GROUPBOX   "自动同步控制（不建议修改）", -1, 5, 50, 275, 35
  GROUPBOX   "代理", -1, 5, 91, 275, 116
}
